In [24]:
import pandas as pd

In [5]:
df = pd.read_csv('../metadata/relationships/relationships_none_2020-04-10_15-32-55.csv', nrows=700_000)

In [7]:
df.head()

,ImageID,LabelName1,LabelName2,XMin1,XMax1,YMin1,YMax1,XMin2,XMax2,YMin2,YMax2,RelationshipLabel
0,9553b9608577b74b,Man,Sunglasses,0.023404,0.985106,0.038344,0.981595,0.238298,0.759574,0.349693,0.529141,wears
1,c9b609675b0db27e,Wine glass,Wine,0.276549,0.997788,0.000000,1.000000,0.272124,1.000000,0.000000,1.000000,contain
2,5813f39feb5218c3,Woman,Handbag,0.077088,0.897216,0.000000,1.000000,0.079229,0.740899,0.004688,0.860937,wears
3,5813f39feb5218c3,Girl,Handbag,0.308351,0.899358,0.000000,1.000000,0.079229,0.740899,0.004688,0.860937,wears
4,b2b742920d39272f,Man,Sunglasses,0.099278,1.000000,0.000000,1.000000,0.133574,0.916968,0.238267,0.590253,wears

In [22]:
df['TopLeft'] = ((df['XMin2'] - df['XMin1'])**2 + (df['YMin2'] - df['YMax1'])**2)**0.5
df['TopRight'] = ((df['XMax2'] - df['XMax1'])**2 + (df['YMax2'] - df['YMax1'])**2)**0.5
df['BottomLeft'] = ((df['XMin2'] - df['XMin1'])**2 + (df['YMin2'] - df['YMin1'])**2)**0.5
df['BottomRight'] = ((df['XMax2'] - df['XMax1'])**2 + (df['YMin2'] - df['YMin1'])**2)**0.5
df['Center'] = (df['TopLeft'] + df['TopRight'] + df['BottomLeft'] + df['BottomRight']) / 4

In [23]:
df.head()

,ImageID,LabelName1,LabelName2,XMin1,XMax1,YMin1,YMax1,XMin2,XMax2,YMin2,YMax2,RelationshipLabel,TopLeft,TopRight,BottomLeft,BottomRight,Center
0,9553b9608577b74b,Man,Sunglasses,0.023404,0.985106,0.038344,0.981595,0.238298,0.759574,0.349693,0.529141,wears,0.667443,0.505549,0.378309,0.384451,0.483938
1,c9b609675b0db27e,Wine glass,Wine,0.276549,0.997788,0.000000,1.000000,0.272124,1.000000,0.000000,1.000000,contain,1.000010,0.002212,0.004425,0.002212,0.252215
2,5813f39feb5218c3,Woman,Handbag,0.077088,0.897216,0.000000,1.000000,0.079229,0.740899,0.004688,0.860937,wears,0.995314,0.209221,0.005154,0.156387,0.341519
3,5813f39feb5218c3,Girl,Handbag,0.308351,0.899358,0.000000,1.000000,0.079229,0.740899,0.004688,0.860937,wears,1.021344,0.210826,0.229170,0.158528,0.404967
4,b2b742920d39272f,Man,Sunglasses,0.099278,1.000000,0.000000,1.000000,0.133574,0.916968,0.238267,0.590253,wears,0.762505,0.418075,0.240723,0.252320,0.418406