In [2]:
import pandas as pd
import glob

### Loading data and appending them data in  a df

In [3]:
t = pd.read_csv('../metadata/relationships/oidv6-train-annotations-vrd.csv')
df1 = t[t['RelationshipLabel'] != 'is']
v = pd.read_csv('../metadata/relationships/oidv6-validation-annotations-vrd.csv')
df2 = v[v['RelationshipLabel'] != 'is']
te = pd.read_csv('../metadata/relationships/oidv6-test-annotations-vrd.csv')
df3 = te[te['RelationshipLabel'] != 'is']


df = df1.append(df2).append(df3)
df.head()

,ImageID,LabelName1,LabelName2,XMin1,XMax1,YMin1,YMax1,XMin2,XMax2,YMin2,YMax2,RelationshipLabel
167,003e363ce1f302cd,/m/04dr76w,/m/01599,0.055000,0.859375,0.174167,0.465000,0.052500,0.857500,0.168333,0.465833,contain
172,006c90355435f1ce,/m/099ssp,/m/0cxn2,0.253750,0.757500,0.333021,0.847092,0.450000,0.603125,0.388368,0.637899,contain
174,006ef4449b1b78e5,/m/0fm3zh,/m/03fp41,0.139062,0.412500,0.853828,0.983759,0.137500,0.414063,0.726218,0.997680,contain
175,006ef4449b1b78e5,/m/0fm3zh,/m/03fp41,0.490625,0.757813,0.844548,0.967517,0.485938,0.771875,0.719258,0.974478,contain
176,006ef4449b1b78e5,/m/0fm3zh,/m/03fp41,0.834375,0.998438,0.445476,0.524362,0.831250,0.998438,0.308585,0.538283,contain

### Loading images dimentions

In [4]:
dims = pd.read_csv('../metadata/relationships/images_dimensions_2020-04-12_17-07-13.csv')
dims.head()

            ImageID  Width  Height
0  000004f4400f6ec5   1024     685
1  0000313e5dccf13b    599    1024
2  0000339d0372e7e6   1024     685
3  0000599864fd15b3   1024     681
4  0000608cc97a2b17   1024     680

### Calculating obj1 and obj2 percetage

In [5]:
df['obj1'] = ((df['XMax1'] - df['XMin1']) * (df['YMax1'] - df['YMin1']))
df['obj2'] = ((df['XMax2'] - df['XMin2']) * (df['YMax2'] - df['YMin2']))

In [6]:
df.head()

,ImageID,LabelName1,LabelName2,XMin1,XMax1,YMin1,YMax1,XMin2,XMax2,YMin2,YMax2,RelationshipLabel,obj1,obj2
167,003e363ce1f302cd,/m/04dr76w,/m/01599,0.055000,0.859375,0.174167,0.465000,0.052500,0.857500,0.168333,0.465833,contain,0.233939,0.239487
172,006c90355435f1ce,/m/099ssp,/m/0cxn2,0.253750,0.757500,0.333021,0.847092,0.450000,0.603125,0.388368,0.637899,contain,0.258963,0.038209
174,006ef4449b1b78e5,/m/0fm3zh,/m/03fp41,0.139062,0.412500,0.853828,0.983759,0.137500,0.414063,0.726218,0.997680,contain,0.035528,0.075076
175,006ef4449b1b78e5,/m/0fm3zh,/m/03fp41,0.490625,0.757813,0.844548,0.967517,0.485938,0.771875,0.719258,0.974478,contain,0.032856,0.072977
176,006ef4449b1b78e5,/m/0fm3zh,/m/03fp41,0.834375,0.998438,0.445476,0.524362,0.831250,0.998438,0.308585,0.538283,contain,0.012942,0.038403

### Test it on "Man at Desk" example

In [7]:
df.loc[df.ImageID == '4411bc7c652d95da']

,ImageID,LabelName1,LabelName2,XMin1,XMax1,YMin1,YMax1,XMin2,XMax2,YMin2,YMax2,RelationshipLabel,obj1,obj2
1909775,4411bc7c652d95da,/m/04yx4,/m/01y9k5,0.182812,0.260938,0.404167,0.568750,0.0,0.998438,0.522917,0.997917,at,0.012858,0.474258
1909776,4411bc7c652d95da,/m/04yx4,/m/01y9k5,0.432813,0.582812,0.393750,0.620833,0.0,0.998438,0.522917,0.997917,at,0.034062,0.474258